.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  z-index: 200;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.group1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group2 {
  color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.group3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group1 a,
.group3 a {
  margin-left: 1rem;
  text-decoration: none;
  color: #000;
}

/* .group3 a {
  margin-left: 1rem;
  text-decoration: none;
  color: #000;
} */
