.homeContainer {
  background-color: #f9f9f9;
  /* padding: 2rem; */
  margin-top: 6rem;
}

.container {
  padding: 100px;
  text-align: left;
}

.container h1 {
  font-size: 48px;
}

/* .title {
  font-size: 48px;
} */

.spanContainer {
  width: 200px;
}

svg {
  width: 1.5rem;
  height: 1.5rem;
}
