.hero {
  background-color: #f9f9f9;

  display: flex;
  flex-direction: column; /* if i put another div it is going to be right under */
  height: 100vh;
  position: relative;
  width: 100%;
}

.container {
  max-width: 70rem; /* Explaination about max-width, margin and padding in About css */
  margin: 0 auto;
  padding: 0 4rem;
  position: relative;
}

@media (min-width: 300px) {
  .content {
    /* background-color: yellow; */
    margin-top: 23rem;
  }
}

@media (min-width: 1900px) {
  .content {
    margin-top: 23rem;
    /* background-color: red; */
  }
}

.content h1 {
  color: #2d2e32;
  font-size: 60px;
  /* line-height: 1.2; */
}

.content p {
  color: #555;
  font-size: 32px;
  line-height: 1.2;
}

.icons {
  cursor: pointer;
  display: flex;
  gap: 2rem;
  margin: 1rem 0;
}

svg {
  width: 2rem;
  height: 2rem;
}
