.section {
  background-color: #f9f9f9;
  padding: 8rem 0;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 5rem;
}

.projectsContent {
  display: flex;
  flex-direction: column;
}

/* .titleContainer {
  text-align: left;
} */

.header {
  color: #147efb;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.subheader {
  color: #2d2e32;
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 3rem;
}

.projectsGrid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  height: auto;
  width: 100%;
}

@media (max-width: 1199px) {
  .titleContent {
    margin: 0 auto;
  }
}
