.container {
  cursor: pointer;
}

.dropdownWrapper {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 100%; /* Adjust this value based on your design */
  right: 0;
  list-style: none;
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: #fff; /* Adjust background color as needed */
  box-shadow: -4px 2px 5px rgba(0, 0, 0, 0.1); /* Add box shadow for a subtle effect */
  z-index: 10; /* Ensure the dropdown appears above other elements */
}

.clicked {
  display: block;
}

.item {
  width: 100%;
  padding: 0px 20px;
}

.item:hover {
  background-color: #d3d3d3;
  border-radius: 0.5rem 0 0 0.5rem;
}

.item a {
  text-decoration: none;
  color: #2d2e32;
  padding: 5px 0px;
  padding-left: 10px;
  display: block;
}

.item a:hover {
  color: #767676;
}
