.container {
  width: 100%;
  height: 6rem;
  background-color: #2d2e32;
}

.content {
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.text {
  font-size: 1.2rem;
  font-weight: bold;
}

.icons {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.icons svg {
  color: #fff;
  margin-left: 1rem;
}

.icons svg:hover {
  color: #147efb;
}
