.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  position: fixed;
  z-index: 200;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  top: 0;
}

.logo {
  color: #2d2e32;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.links {
  display: flex;
}

.links a {
  margin-left: 1rem;
  text-decoration: none;
  font-weight: 700;
  color: #2d2e32;
}

.links a:hover {
  color: #147efb;
}

/* @media (max-width: 600px) {
  .container {
    background-color: yellow;
  }
} */
